<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidLintOldTargetApi -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.zamzow.mazwoz.dirtyunicornschangelog"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <supports-screens android:anyDensity="true" android:xlargeScreens="true" android:largeScreens="true" android:normalScreens="true"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="us.zamzow.mazwoz.dirtyunicornschangelog.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ListVersions"/>
        <activity android:name=".ChangeList"/>
    </application>

</manifest>
